@inherits ComponentBase
@page "/"

<PageTitle>Index</PageTitle>
<div class="container">

    <div class="row mb-2">
        <div class="col-sm-12 col-md-4">
            <ul class="list-group list-group-numbered">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Comments</div>
                    </div>
                    <span class="badge bg-primary rounded-pill">@RedditHistory.LoadedComments.Count</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12">
            <div class="d-grid gap-2 col-6 mx-auto">
                @if (IsLoading)
                {
                    <button class="btn btn-outline-danger" @onclick="OnStopLoadClicked">Stop Loading Comments</button>
                }
                else
                {
                    <button class="btn btn-outline-primary" @onclick="OnLoadCicked">Load Comments</button>
                }
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-3">
            <label class="form-label">Order By</label>
            <select class="form-select" @bind="OrderBy">
                <option>Time</option>
                <option>UpVotes</option>
            </select>
        </div>
        <div class="col-3">
            <label class="form-label">Subreddit</label>
            <select class="form-select" @bind="SubReddit">
                <option selected>All</option>
                @foreach (var sub in KnownSubreddits)
                {
                    <option>@sub</option>
                }
            </select>
        </div>
        <div class="col-3">
            <label class="form-label">Search</label>
            <input type="text" placeholder="Search" @bind="Search" />
        </div>
    </div>
</div>
<div class="row mb-2">
    <div class="col-12">
        @foreach (var comment in GetFilteredComments())
        {
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <h5 class="card-title">
                                <span class="text-primary">
                                    [@comment.Subreddit]
                                </span>
                                <span class="text-capitalize">
                                    <a href="@($"https://reddit.com/{comment.Permalink}")">@comment.Permalink.Split("/")[5].Replace("_"," ")</a>
                                </span>

                            </h5>
                        </div>
                        <div class="col-3">
                            <div class="text-end">
                                <button class="btn btn-outline-secondary" @onclick="()=>DeleteComment(comment)">DELETE</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h6 class="card-subtitle mb-2 text-muted">@comment.Created</h6>
                        </div>
                        <div class="col-6 text-end">
                            @if (comment.UpVotes > 1)
                            {
                                <span class="badge bg-success rounded-pill">@comment.UpVotes</span>
                            }
                            else if (comment.UpVotes < 1)
                            {
                                <span class="badge bg-danger rounded-pill">@comment.UpVotes</span>
                            }
                            else
                            {
                                <span class="badge bg-secondary rounded-pill">@comment.UpVotes</span>
                            }

                        </div>
                    </div>

                    <p class="card-text">@comment.Body</p>
                </div>
            </div>

        }
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
